[submodule "loader"]
	path = loader
	url = https://github.com/battlesuit/loader.git
[submodule "test"]
	path = test
	url = https://github.com/battlesuit/test.git
[submodule "display"]
	path = display
	url = https://github.com/battlesuit/display.git
[submodule "http-action"]
	path = http-action
	url = https://github.com/battlesuit/http-action.git
[submodule "http-application"]
	path = http-application
	url = https://github.com/battlesuit/http-application.git
[submodule "http-router"]
	path = http-router
	url = https://github.com/battlesuit/http-router.git
[submodule "inflector"]
	path = inflector
	url = https://github.com/battlesuit/inflector.git
[submodule "http"]
	path = http
	url = https://github.com/battlesuit/http.git
